[flake8]
max-line-length = 100
extend-ignore = E203,W503,E722,F401,F841,E501,D
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
per-file-ignores =
    tests/*:F401,F841,E501
    conftest.py:F401,F841,E501
